<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">
    <link rel="stylesheet" href="./css/style.css">
    <title>{{title}}</title>
</head>
<header>
    <div class="navbar">
        {{#if logged_in}}
                <button class="aligner-left">Aligner</button>
        <div class="button-row none">

            {{else}}
            <div class="button-row">
                {{/if}}
                <button class="login-button">Login</button>
                <button class="sign-up-button">Sign Up</button>
            </div>

            <h1 class="tech-blog-title"><a href="/">Dan's Random Tech Blog</a></h1>

            {{#if logged_in}}
            <p class="loggedInStatus">You are logged in as {{username}}</p>

            <button class="logoutBtn">Logout</button>
            {{else}}
            <button class="logoutBtn none">Logout</button>
            <button class="aligner-right">Aligner</button>
            {{/if}}
        </div>
</header>

<body>

    {{!-- imported stuff goes here --}}

    {{{ body }}}


</body>
<script src="./js/login.js"></script>
<script src="./js/blog.js"></script>

</html>