{{#each blogs as |blog| }}
<section id="techBlogMainContainer">
    <div class="blog-header-row">

        <div class="blog-button-row">

            <button class="edit-blog-button">Edit</button>
            <button class="delete-blog-button">Delete</button>
        </div>
                <h2 class="blog-title">{{blog.title}}</h2>
    </div>
    <div class="blog-content">
        <div class="blog-post-text">
            <p placeholder="test">{{blog.blog_text}}</p>
            <h3 class="blog-user">by {{user.username}}</h3><br>
            <p>
                Date Created: {{format_date date_created}}
            </p>
        </div>
    </div>
    </section>
    {{!-- {{#each comments as |comment| }} --}}
    <div id="blog-comments-container">
        <h3>Comments</h3>
        {{!-- <p>• {{user.username}}: {{comment.comment_text}}</p> --}}
    </div>
    {{!-- {{/each}} --}}
    {{/each}}


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>